<template>
    <v-container>
        <v-row align="start" justify="center">
            <v-col cols="12">
                <h2> Directive examples </h2>
            </v-col>
        </v-row>

        <v-row align="start" justify="center">
            <v-col cols="12">
                <v-divider/>
            </v-col>

            <v-col cols="12" align="center" justify="center">
                <h3> Conditional rendering and display </h3>
            </v-col>

            <v-col cols="6">
                <v-row align="center" justify="center">
                    <h4> v-if </h4>
                </v-row>
                <v-row align="center" justify="center">
                    <v-switch v-model="vIfToggle" label="Toggle v-if"></v-switch>
                </v-row>
                <v-row align="center" justify="center">
                    <h5 id="simple-text-if" v-if="vIfToggle"> Simple text is rendered </h5>
                </v-row>
                <v-row>
                    <template v-if="vIfToggle">
                        <v-col cols="12" align="center" justify="center">
                            <p id="template-if"> Template is rendered </p>
                        </v-col>
                        <v-col cols="12" align="center" justify="center">
                            <p> text example 1 </p>
                        </v-col>
                        <v-col cols="12" align="center" justify="center">
                            <p> text exmaple 2 </p>
                        </v-col>
                    </template>
                </v-row>
            </v-col>

            <v-col cols="6">
                <v-row align="center" justify="center">
                    <h4> v-show </h4>
                </v-row>
                <v-row align="center" justify="center">
                    <v-switch v-model="vShowToggle" label="Toggle v-show"></v-switch>
                </v-row>
                <v-row align="center" justify="center">
                    <h5 id="simple-text-show" v-show="vShowToggle"> Simple text is displayed </h5>
                </v-row>
            </v-col>
        </v-row>

        <v-row align="start" justify="center">
             <v-col cols="12">
                <v-divider/>
            </v-col>

            <v-col cols="12" align="center" justify="center">
                <h3> List rendering v-for</h3>
            </v-col>

            <v-col cols="12">
                <v-row align="center" justify="center">
                    <h4> Example 1 - Rendering lis elements </h4>
                </v-row>
                <v-row align="center" justify="center">
                    <ul>
                        <li v-for="item in listExample" v-bind:key="item.name">
                            {{ item.name }}
                        </li>
                    </ul>
                </v-row>

                <v-row align="center" justify="center">
                    <h4> Example 2 - Rendering list element with index </h4>
                </v-row>
                <v-row align="center" justify="center">
                    <ul>
                        <li v-for="(item, index) in listExample" v-bind:key="item.name">
                            {{ index }} {{ item.name }}
                        </li>
                    </ul>
                </v-row>

                <v-row align="center" justify="center">
                    <h4> Example 3 - Rendering with list state change </h4>
                </v-row>
                <v-row>
                    <v-col cols="6" align="center" justify="center">
                        <v-btn v-on:click="removeLast"> Click me to remove</v-btn>
                    </v-col>
                    <v-col cols="6" align="center" justify="center">
                        <v-btn v-on:click="addNew"> Click me to add</v-btn>
                    </v-col>
                </v-row>
                <v-row align="center" justify="center">
                    <ul>
                        <li v-for="(item, index) in listExample2" :key="item.id">
                            {{ index }} {{ item.name }}
                        </li>
                    </ul>
                </v-row>

                <v-row align="center" justify="center">
                    <h4> Example 4 - Rendering with list - template </h4>
                </v-row>
                <v-row align="center" justify="center">
                    <template v-for="index in 4">
                        <v-sheet :tile="true" class="mx-auto" height="100" width="100" color="green lighten-3">
                            {{ index }}
                        </v-sheet>
                        <v-sheet :tile="true" class="mx-auto" height="100" width="100" color="green lighten-3">
                            {{ index }}
                        </v-sheet>
                    </template>
                </v-row>

                <v-row align="center" justify="center">
                    <h4> Example 5 - Rendering with list - component </h4>
                </v-row>

                <v-row align="center" justify="center">
                    <list-child-component
                        v-for="item in listExample3"
                        v-bind:key="item.id"
                        v-bind:id="item.id"
                        v-bind:name="item.name"
                        v-bind:description="item.description"
                        v-bind:color="item.color"
                    />
                </v-row>

                <v-row align="center" justify="center">
                    <h4> Example 6.1 - Conditional rendering in loop </h4>
                </v-row>
                <v-row align="center" justify="center">
                    <!--<ul>
                        <li v-for="item in filteredList" v-bind:key="item.name">
                            {{ item.id }} {{ item.name }}
                        </li>
                    </ul>-->
                    <ul>
                        <li v-for="item in listExample2" v-bind:key="item.id" v-if="item.id % 2 == 0">
                            {{ item.id }} {{ item.name }}
                        </li>
                    </ul>
                </v-row>

                <v-row align="center" justify="center">
                    <h4> Example 6.2 - Conditional rendering in loop </h4>
                </v-row>
                <v-row align="center" justify="center">
                    <v-switch v-model="vForToggle" label="Toggle v-for"></v-switch>
                </v-row>
                <v-row align="center" justify="center">
                    <ul v-if="vForToggle">
                        <li v-for="(item, index) in listExample2" v-bind:key="item.name">
                            {{ index }} {{ item.name }}
                        </li>
                    </ul>
                </v-row>
            </v-col>
        </v-row>

        <v-row align="start" justify="center">
             <v-col cols="12">
                <v-divider/>
            </v-col>

            <v-col cols="12" align="center" justify="center">
                <h3> Event handling v-on</h3>
            </v-col>

            <v-col cols="12">
                <v-row align="center" justify="center">
                    <h4> Example 1 - Inline logic </h4>
                </v-row>
                <v-row>
                    <v-col cols="6" align="center" justify="center">
                        <v-btn v-on:click="counter1 += 1">Button 1</v-btn>
                    </v-col>
                    <v-col cols="6" align="center" justify="center">
                        <p> Counter value: {{ counter1 }} </p>
                    </v-col>
                </v-row>

                <v-row align="center" justify="center">
                    <h4> Example 2 - Defined method </h4>
                </v-row>
                <v-row align="center" justify="center">
                    <v-btn v-on:click="buttonClickExample2">Button 2</v-btn>
                </v-row>

                <v-row align="center" justify="center">
                    <h4> Example 3 - Defined method with DOM event</h4>
                </v-row>
                <v-row align="center" justify="center">
                    <v-btn v-on:click="buttonClickExample3($event)">Button 3</v-btn>
                </v-row>
            </v-col>
        </v-row>

        <v-row align="start" justify="center">
             <v-col cols="12">
                <v-divider/>
            </v-col>

            <v-col cols="12" align="center" justify="center">
                <h3> Binding data to input v-model</h3>
            </v-col>

            <v-col cols="6" align="center" justify="center">
                <v-text-field label="Enter text 1" v-model="inputValue1"/>
                <v-text-field label="Enter text 2" v-model="inputValue2"/>
            </v-col>

            <v-col cols="6" align="center" justify="center">
                <p> {{ inputValue1 }} {{ inputValue2 }} </p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import ListChildComponent from './ListChildComponent.vue'
export default {
    name: 'DirectiveExample',
    components: { 'list-child-component': ListChildComponent },
    data () {
        return {
            vIfToggle: false,
            vShowToggle: false,
            vForToggle: false,
            listExample: [
                { name: 'apple' },
                { name: 'pear', }, 
                { name: 'banana' },
                { name: 'kiwi' }
            ],
            listExample2: [
                { id: 0, name: 'apple' },
                { id: 1, name: 'pear' }, 
                { id: 2, name: 'banana' },
                { id: 3, name: 'kiwi' }
            ],
            listExample3: [
                { id: 0, name: 'apple', description: 'Tasty food', color: 'blue lighten-5'},
                { id: 1, name: 'pear', description: 'Tasty food', color: 'cyan lighten-4' }, 
                { id: 2, name: 'banana', description: 'Tasty food', color: 'blue lighten-5' },
                { id: 4, name: 'kiwi', description: 'Tasty food', color: 'cyan lighten-4' }
            ],
            counter1: 0,
            inputValue1: '',
            inputValue2: ''
        }
    },
    methods: {
        removeLast () {
            this.listExample2.pop()
            console.log('Removed last element')
        },
        addNew () {
            this.listExample2.push({ id: new Date().getTime(), name: 'mellon' })
            console.log('Added new element')
        },
        buttonClickExample2 () {
            console.log('Button with handler clicked ...')
        },
        buttonClickExample3 (event) {
            console.log(event)
            console.log('Button with handler and DOM event clicked')
        },
        enterPressed () {
            console.log('Enter pressed ...')
        }
    },
    computed: {
        filteredList () {
            return this.listExample2.filter(function(item) { return item.id % 2 == 0 })
        }
    }
}
</script>