<template>
  <v-container>
      <v-row align="center" justify="center">
        <v-col cols="12">
            <h2> Home </h2>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
