<template>
    <v-container>
        <v-row>
            <v-col cols="12" align="start" justify="center">
                <h2> Lifecycle hook and computed properties examples </h2>
            </v-col>

            <v-row align="start" justify="center">
                <v-col cols="12">
                    <v-divider/>
                </v-col>

                <v-col cols="12" align="center" justify="center">
                    <h3> Reusing components with different prop values passed from parent </h3>
                </v-col>

                <v-col cols="6" align="center" justify="center">
                    <prop-example-child-component v-for="item in items" :key="item.compName"
                        :propA="item.propA"
                        :propB="item.propB"
                        :compName="item.compName"
                    />
                </v-col>
            </v-row>

            <v-row align="start" justify="center">
                <v-col cols="12">
                    <v-divider/>
                </v-col>

                <v-col cols="12" align="center" justify="center">
                    <h3> Computed properties </h3>
                </v-col>

                <v-col cols="6" align="center" justify="center">
                    <v-text-field
                        v-model="input"
                        label="Input"
                        ></v-text-field>
                </v-col>

                <v-col cols="6" align="center" justify="center">
                    {{ input }}
                </v-col>
            </v-row>
        </v-row>
    </v-container>
</template>

<script>
import PropsExampleChildComponent from './PropsExampleChildComponent.vue'

export default {
    name: 'LifeCycleHookExample',
    components: { 'prop-example-child-component': PropsExampleChildComponent },
    data () {
        return {
            items: [],
            input: ''
        }
    },
    created () {
        this.items = [
            { propA: 'propA1', propB: 1, compName: 'C1'},
            { propA: 'propA2', propB: 2, compName: 'C2'},
            { propA: 'propA3', propB: 3, compName: 'C3'},
            { propA: 'propA4', propB: 4, compName: 'C4'}
        ]
        console.log('Create hook')
    },
    mounted () {
        this.items = [
            { propA: 'propA1', propB: 1, compName: 'C1'},
            { propA: 'propA2', propB: 2, compName: 'C2'},
            { propA: 'propA3', propB: 3, compName: 'C3'},
            { propA: 'propA4', propB: 4, compName: 'C4'}
        ]
        console.log('Mounted hook')
    },
    updated () {
        console.log('Updated hook')
    },
    destroyed () {
        console.log('Destroyed hook')
    }
}
</script>