<template>
    <v-sheet :tile="true" height="300" width="250" :color="color">
        <v-sheet :tile="true" class="mx-auto" height="100" width="100" color="green lighten-3">
            {{ name }}
        </v-sheet>
        <v-sheet :tile="true" class="mx-auto" height="100" width="100" color="green lighten-3">
            {{ description }}
        </v-sheet>
    </v-sheet>
</template>

<script>
export default {
    props: {
        id: Number,
        name: String,
        description: String,
        color: String
    },
    name: 'ListChildComponent'
}
</script>