<template>
    <v-container>
        <v-row>
            <v-col cols="12" align="start" justify="center">
                <h2> Nested routing example </h2>
            </v-col>

            <router-view></router-view>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: 'NestedRountingExample'
}
</script>