<template>
    <v-container>
        <v-row>
            <v-col cols="12" align="start" justify="center">
                <h2> Nested child 1 </h2>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: 'NestedChild1'
}
</script>