<template>
    <v-container>
        <v-row>
            <v-col cols="12" align="start" justify="center">
                <h2> Props examples </h2>
            </v-col>

            <v-row align="start" justify="center">
                <v-col cols="12">
                    <v-divider/>
                </v-col>

                <v-col cols="12" align="center" justify="center">
                    <h3> Reusing components with different prop values passed from parent </h3>
                </v-col>

                <v-col cols="6" align="center" justify="center">
                    <prop-example-child-component
                        :propB="12"
                        compName="Child 1"
                        v-on:click-event="handleClick($event)"
                    />
                </v-col>

                <v-col cols="6" align="center" justify="center">
                    <prop-example-child-component
                        propA="Not defualt value"
                        :propB="3"
                        :propC="propC"
                        compName="Child 2"
                        v-on:click-event="handleClick($event)"
                    />
                </v-col>
            </v-row>
        </v-row>
    </v-container>
</template>

<script>
import PropsExampleChildComponent from './PropsExampleChildComponent.vue'
export default {
    name: 'PropsExample',
    components: { 'prop-example-child-component': PropsExampleChildComponent },
    data () {
        return {
            propC: { id: 10, name: 'Not default Object Name' }
        }
    },
    methods: {
        handleClick (event) {
            alert(event)
        }
    }
}
</script>