<template>
    <v-sheet :tile="true" height="300" width="250" color="blue lighten-4">
        <v-row>
            <v-col cols="12" :align="align" :justify="justify">
                {{ propA }}
            </v-col>

            <v-col cols="12" :align="align" :justify="justify">
                {{ propB }}
            </v-col>

            <v-col cols="12" :align="align" :justify="justify">
                {{ propC.name }}
            </v-col>

            <v-col cols="12" :align="align" :justify="justify">
                <v-btn @click="handleClick">Click me</v-btn>
            </v-col>

            <v-col cols="12">
                <v-divider/>
            </v-col>
        </v-row>
    </v-sheet>
</template>

<script>
export default {
    name: 'PropsExampleChildComponent',
    props: {
        propA: {
            type: String,
            required: false,
            default: 'default value'
        },
        propB: {
            type: Number,
            required: true
        },
        propC: {
            type: Object,
            default () {
                return { id: 0, name: 'Default Object Name' }
            }
        },
        compName: {
            type: String,
            required: true
        }
    },
    data () {
        return {
            align: 'center',
            justify: 'center'
        }
    },
    methods: {
        handleClick () {
            this.$emit('click-event', this.compName)
        }
    }
}
</script>