<template>
  <v-app>
    <v-app-bar app color="#303841" dark height="80">
      <v-toolbar-items class="d-none d-sm-flex">
        <v-btn icon @click="navigateTo('/')"><v-icon> mdi-home </v-icon></v-btn>
        <v-divider vertical></v-divider>
        <v-btn text @click="navigateTo('/directives')">Directives</v-btn>
        <v-divider vertical></v-divider>
        <v-btn text @click="navigateTo('/props')">Props</v-btn>
        <v-divider vertical></v-divider>
        <v-btn text @click="navigateTo('/life-cycle-hook')">Lifecycle hooks</v-btn>
        <v-divider vertical></v-divider>
        <v-btn text @click="navigateTo('/nested-routing')">Nested rounting</v-btn>
        <v-divider vertical></v-divider>
      </v-toolbar-items>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-row class="fill-height">
          <router-view></router-view>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  methods: {
    navigateTo (link) {
      if (this.$router.currentRoute.path !== link) {
        this.$router.push({ path: link })
      }
    }

  }
}
</script>